<script>
  var stripe = Stripe('{{ config.STRIPE_PUBLISHABLE_KEY }}');
  var elements = stripe.elements();
  var card = elements.create('card', {
  style: {
    base: {
      iconColor: '#359173',
      color: '#31325F',
      lineHeight: '40px',
      fontWeight: 300,
      fontFamily: '"proxima-nova-soft", Helvetica, sans-serif',
      fontSize: '15px',

      '::placeholder': {
        color: '#CFD7E0',
      },
    },
  }
});
card.mount('#card-element');
</script>
<script>
   function stripeTokenHandler(token) {
    var form = $('#payment-form');
    form.append($('<input type="hidden" name="stripeToken">').val(token.id));
    form.submit();
  }

  function createToken() {
      stripe.createToken(card).then(function(result) {
          if (result.error) {
              $('#card-errors').textContent = result.error.message;
          } else {
              stripeTokenHandler(result.token);
          }
      })
  }

  $(function () {
    $('#payment-form')[0].addEventListener('submit', function (e) {
      e.preventDefault();
      createToken();
    });
  });
</script>
